*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 500px;
}
.header {
    display: flex;
    justify-content: center;
}
#title {
    margin-top: 50px;
}
#calculator,
.history-panel {
    min-width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    /* border-right: 0; */
}
#screen {
    text-align: right;
    border: 1px solid black;
    border-radius: 10px;
    /* border-right: 0; */
    margin: 5px 10px 20px 10px;
    padding: 10px 20px;
}

.previousOperandDisplay {
    min-height: 30px;
    font-size: 12px;
}

.currentOperandDisplay {
    min-height: 65px;
    font-size: 20px;
}

#button-panel,
#allclear,
#clear {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    padding: 2rem;
    /*border-right: 0; */
    grid-gap: 10px;
}

.history-panel {
    display: flex;
    min-height: 458px;
}

#allclear,
#clear  {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    height: 50px;
    width: 100px;
    margin: 5px 10px 10px 10px;
    font-size: 20px;
}

.operator,
.number,
.equal,
.decimal,
.allclear,
.clear {
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;

}